        <!-- Homepage with slideshow of cuisines -->
        <div id="homepage">
            <h1>Welcome to Cultured Cuisines</h1>
            <section id="image-carousel" class="splide" aria-label="Delicious Cuisines!">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="{{image}}" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="{{image}}" alt="">
                        </li>
                        <li class="splide__slide">
                            <img src="{{image}}" alt="">
                        </li>
                    </ul>
                </div>
            </section>
        </div>


        <!-- Other cuisines in picture format -->
        <div id="otherCuisines" class="col-12 col-md-12 col-lg-9">
            <div class="oc-heading"><h2 class="explore-heading">Explore More Cuisines</h2></div>
            <div class="cuisine-container">
                <div class="cuisine">
                    <a href="about_cuisine4.html">
                        <img src="TestApple.jpg" alt="Cuisine 4">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 4 Description</p>
                    </div>
                </div>
                <div class="cuisine">
                    <a href="about_cuisine5.html">
                        <img src="TestApple.jpg" alt="Cuisine 5">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 5 Description</p>
                    </div>
                </div>
                <div class="cuisine">
                    <a href="about_cuisine6.html">
                        <img src="TestApple.jpg" alt="Cuisine 6">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 6 Description</p>
                    </div>
                </div>
                <div class="cuisine">
                    <a href="about_cuisine7.html">
                        <img src="TestApple.jpg" alt="Cuisine 7">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 7 Description</p>
                    </div>
                </div>
                <div class="cuisine">
                    <a href="about_cuisine8.html">
                        <img src="TestApple.jpg" alt="Cuisine 8">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 8 Description</p>
                    </div>
                </div>
                <div class="cuisine">
                    <a href="about_cuisine9.html">
                        <img src="TestApple.jpg" alt="Cuisine 9">
                    </a>
                    <div class="cuisine-info">
                        <p>Cuisine 9 Description</p>
                    </div>
                </div>
            </div>
        </div>
































<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
   
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}
